# Data Engineering Project 
## ETL

**Authors**: 
- Dmitri Rozgonjuk
- Eerik Sven Puudist
- Lisanne SinivÃ¤li
- Cheng-Han Chung


The aim of this script is to clean the main raw data frame and write a new, clean data frame for further use. In this notebook, the comparisons of different read- and write-methods are demonstrated.

First, we install and import the necessary libraries from one cell (to avoid having libraries in some individual cells below). The packages and their versions to be installed will later be added to the `requirements.txt` file.

We also use this section to set global environment parameters.

In [ ]:
!pip install -r requirements.txt

In [25]:
################### Imports ####################
### Data wrangling
import pandas as pd # working with dataframes

### Database drivers
import psycopg2
from neo4j import GraphDatabase

# Custom scripts 
## Neo4J
import sys
sys.path.append('./dags')
from scripts.neo4j_queries import *

# MISC
import warnings

########## SETTING ENV PARAMETERS ################
warnings.filterwarnings('ignore') # suppress warnings

In [ ]:
find_tables_or_ingest_raw()

### Author update and augments
In order to query 'gender' of a given author, we first extract all valid (length > 3) first names. We acknowledge that there may be first names that are smaller than four characters in length, but given that query amount is limited, we are going with a more robust way to extract as many names as possible.

### Journal
In order to get the journal information, we need the journal ISSN list from the `article` table. Although journal Impact Factor are more common metrics, they are trademarked and, hence, retrieving them is not open-source. The alternative is to use SNIP - source-normalized impact per publication. This is the average number of citations per publication, corrected for differences in citation practice between research domains. Fortunately, the list of journals and their SNIP is available from the CWTS website (https://www.journalindicators.com/).

# 5. Example Queries

## 5.1. Data Warehouse

In [26]:
%reload_ext sql
%sql postgresql://airflow:airflow@postgres/airflow

In [27]:
%sql SELECT COUNT(*) FROM author;

 * postgresql://airflow:***@postgres/airflow
1 rows affected.

[(50902,)]

In [28]:
%sql SELECT * FROM article LIMIT 5;

 * postgresql://airflow:***@postgres/airflow
5 rows affected.

[('704.0046', 'A limit relation for entropy and channel capacity per unit cost', '10.1063/1.2779138', 3, '0022-2488', 'journal-article', '6.0', 2009),
 ('704.0098', 'Sparsely-spread CDMA - a statistical mechanics based analysis', '10.1088/1751-8113/40/41/004', 2, '1751-8113', 'journal-article', '26.0', 2009),
 ('704.0217', 'Capacity of a Multiple-Antenna Fading Channel with a Quantized Precoding\n  Matrix', '10.1109/TIT.2008.2011437', 2, '0018-9448', 'journal-article', '113.0', 2010),
 ('704.0301', 'Differential Recursion and Differentially Algebraic Functions', '10.1145/1507244.1507252', 1, '1529-3785', 'journal-article', '4.0', 2009),
 ('704.0954', 'Sensor Networks with Random Links: Topology Design for Distributed\n  Consensus', '10.1109/TSP.2008.920143', 2, '1053-587X', 'journal-article', '186.0', 2009)]

In [7]:
%sql SELECT * FROM article_category LIMIT 5;

 * postgresql://airflow:***@postgres/airflow
5 rows affected.

[('1001.0001', 'cs.IT'),
 ('1001.0001', 'math.IT'),
 ('1001.0361', 'cs.CY'),
 ('1001.0361', 'cs.DL'),
 ('1001.1065', 'math.CO')]

In [ ]:
%sql SELECT * FROM category LIMIT 10;

 * postgresql://airflow:***@postgres/airflow
5 rows affected.

[('adap-org', 'adap-org', 'NaN'),
 ('astro-ph', 'astro-ph', 'NaN'),
 ('astro-ph.CO', 'astro-ph', 'CO'),
 ('astro-ph.EP', 'astro-ph', 'EP'),
 ('astro-ph.GA', 'astro-ph', 'GA')]

In [ ]:
%sql SELECT * FROM journal LIMIT 10;

 * postgresql://airflow:***@postgres/airflow
5 rows affected.

[('0001-0782', 'Communications of the ACM', 3.01414130932734),
 ('0001-1452', 'AIAA Journal', 1.30854658287369),
 ('0001-1541', 'AICHE Journal', 1.1617454216392),
 ('0001-4346', 'Mathematical Notes', 0.863770630588359),
 ('0001-4575', 'Accident Analysis and Prevention', 2.30067698862861)]

### Who are the top 0.01% scientists with the most publications in the sample?
Outcome: list of 0.01% top scientists, count of publications, ranking in terms of the total sample.

In [ ]:
%%sql query_one <<
SELECT author_id, rank_total_pubs as rank, total_pubs as publications
FROM author 
ORDER BY rank_total_pubs 
LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100;

 * postgresql://airflow:***@postgres/airflow
5 rows affected.
Returning data to local variable query_one

In [ ]:
query_one

[('WangY', 1, 163),
 ('WangX', 2, 158),
 ('ZhangJ', 3, 154),
 ('LiuY', 4, 144),
 ('ZhangY', 5, 125)]

### Proportionally, in which journals have the top 0.01% of scientists (in terms of publication count) published their work the most?

In [ ]:
%%sql query_two <<
SELECT final.author_id, final.rank, final.publications, final.journal_title as top_journal,  TO_CHAR((final.number * 100 / final.publications), 'fm99%') as percentage_of_all_publications
FROM (select a.author_id, rank, publications, mode() within group (order by j.journal_title) AS journal_title, COUNT(j.journal_title) as number
      from (SELECT author_id, rank_total_pubs as rank, total_pubs as publications
      FROM author 
      ORDER BY rank_total_pubs 
      LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100) AS a
      INNER JOIN authorship au ON a.author_id = au.author_id
      INNER JOIN article ar ON au.article_id = ar.article_id
      INNER JOIN journal j ON ar.journal_issn = j.journal_issn
      group by a.author_id, rank, publications,j.journal_title
      having j.journal_title = mode() within group (order by j.journal_title)) as final
LEFT JOIN (select a.author_id, rank, publications, mode() within group (order by j.journal_title) AS journal_title, COUNT(j.journal_title) as number
      from (SELECT author_id, rank_total_pubs as rank, total_pubs as publications
      FROM author 
      ORDER BY rank_total_pubs 
      LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100) AS a
      INNER JOIN authorship au ON a.author_id = au.author_id
      INNER JOIN article ar ON au.article_id = ar.article_id
      INNER JOIN journal j ON ar.journal_issn = j.journal_issn
      group by a.author_id, rank, publications,j.journal_title
      having j.journal_title = mode() within group (order by j.journal_title)) as final1 ON 
    final.author_id = final1.author_id AND final.number < final1.number
WHERE final1.author_id IS NULL
ORDER BY final.rank 
LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100;

 * postgresql://airflow:***@postgres/airflow
5 rows affected.
Returning data to local variable query_two

In [ ]:
query_two

[('WangY', 1, 163, 'IEEE Transactions on Image Processing', '7%'),
 ('WangX', 2, 158, 'IEEE Transactions on Signal Processing', '9%'),
 ('ZhangJ', 3, 154, 'IEEE Transactions on Wireless Communications', '7%'),
 ('LiuY', 4, 144, 'IEEE Transactions on Image Processing', '8%'),
 ('LiuY', 4, 144, 'IEEE Transactions on Signal Processing', '8%')]

### What was the most productive year (N publications) for top 0.01% scientists?

In [ ]:
%%sql query_three <<

SELECT final.author_id, final.rank, final.publications, final.most_productive_year as most_productive_year, final.number as count_of_pub
FROM (SELECT a.author_id, rank, publications, mode() within group (order by ar.year) AS most_productive_year, sum(publications) as number
    FROM (SELECT author_id, rank_total_pubs as rank, total_pubs as publications
    FROM author 
    ORDER BY rank_total_pubs 
    LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100) AS a
    INNER JOIN authorship au ON a.author_id = au.author_id
    INNER JOIN article ar ON au.article_id = ar.article_id
    GROUP BY a.author_id, rank, publications, ar.year
    having ar.year = mode() within group (order by ar.year)) as final
LEFT JOIN (SELECT a.author_id, rank, publications, mode() within group (order by ar.year) AS most_productive_year, sum(publications) as number 
    FROM (SELECT author_id, rank_total_pubs as rank, total_pubs as publications
    FROM author 
    ORDER BY rank_total_pubs 
    LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100) AS a
    INNER JOIN authorship au ON a.author_id = au.author_id
    INNER JOIN article ar ON au.article_id = ar.article_id
    GROUP BY a.author_id, rank, publications, ar.year
    having ar.year = mode() within group (order by ar.year)) as final1 ON 
    final.author_id = final1.author_id AND final.number < final1.number
WHERE final1.author_id IS NULL
ORDER BY final.rank 
LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100;

 * postgresql://airflow:***@postgres/airflow
5 rows affected.
Returning data to local variable query_three

In [ ]:
query_three

[('WangY', 1, 163, 2021, 6683),
 ('WangX', 2, 158, 2020, 3792),
 ('WangX', 2, 158, 2021, 3792),
 ('WangX', 2, 158, 2022, 3792),
 ('ZhangJ', 3, 154, 2021, 5236)]

### What was the most influential (in terms of N citations/ N publications) year for top 3% scientists?
Outcome: list of (a) top 3% scientists, most influential year, count of publications for that year, average N of citations per publication.

In [ ]:
%%sql query_four <<

SELECT final.author_id, final.rank, final.hindex, final.pub, final.avg_cites, final.year
FROM (SELECT a.author_id, rank, sum(hindex::DECIMAL) as hindex, sum(publications::DECIMAL) as pub, sum(avg_cites::DECIMAL) as avg_cites, ar.year
    FROM (SELECT author_id, rank_total_pubs as rank, total_pubs as publications, hindex, avg_cites
    FROM author 
    ORDER BY rank_total_pubs 
    LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100) AS a
    INNER JOIN authorship au ON a.author_id = au.author_id
    INNER JOIN article ar ON au.article_id = ar.article_id
    GROUP BY a.author_id, rank, ar.year) as final
LEFT JOIN (SELECT a.author_id, rank, sum(hindex::DECIMAL) as hindex, sum(publications::DECIMAL) as pub, sum(avg_cites::DECIMAL) as avg_cites, ar.year 
    FROM (SELECT author_id, rank_total_pubs as rank, total_pubs as publications, hindex, avg_cites
    FROM author 
    ORDER BY rank_total_pubs 
    LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100) AS a
    INNER JOIN authorship au ON a.author_id = au.author_id
    INNER JOIN article ar ON au.article_id = ar.article_id
    GROUP BY a.author_id, rank, ar.year) as final1 ON 
    final.author_id = final1.author_id AND final.hindex < final1.hindex
WHERE final1.author_id IS NULL
ORDER BY final.rank 
LIMIT  0.01 * (SELECT COUNT(*) FROM author) / 100;

 * postgresql://airflow:***@postgres/airflow
5 rows affected.
Returning data to local variable query_four

In [ ]:
query_four

[('WangY', 1, Decimal('1230'), Decimal('6683'), Decimal('1148.246'), 2021),
 ('WangX', 2, Decimal('936'), Decimal('3792'), Decimal('1034.424'), 2020),
 ('WangX', 2, Decimal('936'), Decimal('3792'), Decimal('1034.424'), 2021),
 ('WangX', 2, Decimal('936'), Decimal('3792'), Decimal('1034.424'), 2022),
 ('ZhangJ', 3, Decimal('1258'), Decimal('5236'), Decimal('1423.138'), 2021)]

## 5.2. Graph Database

In [29]:
conn_neo = Neo4jConnection(uri='bolt://neo:7687', user='', pwd='')

In [30]:
result = conn_neo.query('MATCH (n:Article) RETURN COUNT(n) AS ct')
print(result[0]['ct'])

35546

In [31]:
result = conn_neo.query('MATCH (n:Author) RETURN COUNT(n) AS ct')
print(result[0]['ct'])

50902

In [32]:

result = conn_neo.query(
"""
MATCH (author:Author)-[:AUTHORED]->(article:Article) 
WHERE author.id = "GousiosG" 
WITH author, COUNT(article) AS number_of_articles, collect(article) AS articles
ORDER BY number_of_articles DESC 
UNWIND articles AS article
MATCH (coauthor:Author)-[:AUTHORED]->(article)
RETURN article, collect(coauthor), COUNT(article), COUNT(coauthor)
"""
)
#for r in result:
#    print(r)
display(result)

[<Record article=<Node id=161592 labels=frozenset({'Article'}) properties={'year': 2022, 'n_cites': 0.0, 'n_authors': 3, 'journal_issn': '0098-5589', 'id': '2204.03366', 'title': 'Impact of Software Engineering Research in Practice: A Patent and Author\n  Survey Analysis', 'doi': '10.1109/TSE.2022.3208210'}> collect(coauthor)=[<Node id=172646 labels=frozenset({'Author'}) properties={'total_pubs': 5, 'gender': 'M', 'rank_hindex': 9528, 'last_name': 'Gousios', 'rank_total_cites': 29401, 'n_unique_coauthors': 11, 'middle_name': nan, 'rank_avg_cites': 40837, 'med_coauthors': 3.0, 'total_cites': 7, 'avg_cites': 1.4, 'rank_total_pubs': 3077, 'hindex': 2, 'id': 'GousiosG', 'first_name': 'Georgios'}>, <Node id=187830 labels=frozenset({'Author'}) properties={'total_pubs': 3, 'gender': nan, 'last_name': 'Spinellis', 'rank_hindex': 29311, 'rank_total_cites': 30972, 'n_unique_coauthors': 6, 'middle_name': nan, 'rank_avg_cites': 38851, 'med_coauthors': 3.0, 'total_cites': 6, 'avg_cites': 2.0, 'rank_total_pubs': 7070, 'hindex': 1, 'id': 'SpinellisD', 'first_name': 'Diomidis'}>, <Node id=200512 labels=frozenset({'Author'}) properties={'total_pubs': 3, 'gender': nan, 'last_name': 'Kotti', 'rank_hindex': 29311, 'rank_total_cites': 30972, 'n_unique_coauthors': 6, 'middle_name': nan, 'rank_avg_cites': 38851, 'med_coauthors': 3.0, 'total_cites': 6, 'avg_cites': 2.0, 'rank_total_pubs': 7070, 'hindex': 1, 'id': 'KottiZ', 'first_name': 'Zoe'}>] COUNT(article)=3 COUNT(coauthor)=3>,
 <Record article=<Node id=159780 labels=frozenset({'Article'}) properties={'year': 2021, 'n_cites': 5.0, 'n_authors': 2, 'journal_issn': '0164-1212', 'id': '2109.11921', 'title': 'Can We Trust Tests To Automate Dependency Updates? A Case Study of Java\n  Projects', 'doi': '10.1016/j.jss.2021.111097'}> collect(coauthor)=[<Node id=172646 labels=frozenset({'Author'}) properties={'total_pubs': 5, 'gender': 'M', 'rank_hindex': 9528, 'last_name': 'Gousios', 'rank_total_cites': 29401, 'n_unique_coauthors': 11, 'middle_name': nan, 'rank_avg_cites': 40837, 'med_coauthors': 3.0, 'total_cites': 7, 'avg_cites': 1.4, 'rank_total_pubs': 3077, 'hindex': 2, 'id': 'GousiosG', 'first_name': 'Georgios'}>, <Node id=205405 labels=frozenset({'Author'}) properties={'total_pubs': 2, 'gender': 'M', 'rank_hindex': 29311, 'last_name': 'Hejderup', 'rank_total_cites': 32716, 'n_unique_coauthors': 3, 'middle_name': nan, 'rank_avg_cites': 37039, 'med_coauthors': 2.0, 'total_cites': 5, 'avg_cites': 2.5, 'rank_total_pubs': 12987, 'hindex': 1, 'id': 'HejderupJ', 'first_name': 'Joseph'}>] COUNT(article)=2 COUNT(coauthor)=2>,
 <Record article=<Node id=156518 labels=frozenset({'Article'}) properties={'year': 2022, 'n_cites': 0.0, 'n_authors': 4, 'journal_issn': '1382-3256', 'id': '2101.09563', 'title': 'Pr\\"azi: From Package-based to Call-based Dependency Networks', 'doi': '10.1007/s10664-021-10071-9'}> collect(coauthor)=[<Node id=205405 labels=frozenset({'Author'}) properties={'total_pubs': 2, 'gender': 'M', 'rank_hindex': 29311, 'last_name': 'Hejderup', 'rank_total_cites': 32716, 'n_unique_coauthors': 3, 'middle_name': nan, 'rank_avg_cites': 37039, 'med_coauthors': 2.0, 'total_cites': 5, 'avg_cites': 2.5, 'rank_total_pubs': 12987, 'hindex': 1, 'id': 'HejderupJ', 'first_name': 'Joseph'}>, <Node id=172646 labels=frozenset({'Author'}) properties={'total_pubs': 5, 'gender': 'M', 'rank_hindex': 9528, 'last_name': 'Gousios', 'rank_total_cites': 29401, 'n_unique_coauthors': 11, 'middle_name': nan, 'rank_avg_cites': 40837, 'med_coauthors': 3.0, 'total_cites': 7, 'avg_cites': 1.4, 'rank_total_pubs': 3077, 'hindex': 2, 'id': 'GousiosG', 'first_name': 'Georgios'}>, <Node id=209984 labels=frozenset({'Author'}) properties={'total_pubs': 1, 'gender': 'M', 'rank_hindex': 48170, 'last_name': 'Beller', 'rank_total_cites': 48170, 'n_unique_coauthors': 3, 'middle_name': nan, 'rank_avg_cites': 48170, 'med_coauthors': 3.0, 'total_cites': 0, 'avg_cites': 0.0, 'rank_total_pubs': 34037, 'hindex': 0, 'id': 'BellerM', 'first_name': 'Moritz'}>, <Node id=212964 labels=frozenset({'Author'}) properties={'total_pubs': 1, 'gender': 'M', 'rank_hindex': 48170, 'last_name': 'Triantafyllou', 'rank_total_cites': 48170, 'n_unique_coauthors': 3, 'middle_name': nan, 'rank_avg_cites': 48170, 'med_coauthors': 3.0, 'total_cites': 0, 'avg_cites': 0.0, 'rank_total_pubs': 34037, 'hindex': 0, 'id': 'TriantafyllouK', 'first_name': 'Konstantinos'}>] COUNT(article)=4 COUNT(coauthor)=4>,
 <Record article=<Node id=156429 labels=frozenset({'Article'}) properties={'year': 2022, 'n_cites': 0.0, 'n_authors': 5, 'journal_issn': '1049-331X', 'id': '2101.06542', 'title': 'ConE: A Concurrent Edit Detection Tool for Large Scale Software\n  Development', 'doi': '10.1145/3478019'}> collect(coauthor)=[<Node id=196278 labels=frozenset({'Author'}) properties={'total_pubs': 2, 'gender': 'M', 'rank_hindex': 29311, 'last_name': 'Bird', 'rank_total_cites': 18989, 'n_unique_coauthors': 10, 'middle_name': nan, 'rank_avg_cites': 22097, 'med_coauthors': 6.0, 'total_cites': 19, 'avg_cites': 9.5, 'rank_total_pubs': 12987, 'hindex': 1, 'id': 'BirdC', 'first_name': 'Christian'}>, <Node id=172646 labels=frozenset({'Author'}) properties={'total_pubs': 5, 'gender': 'M', 'rank_hindex': 9528, 'last_name': 'Gousios', 'rank_total_cites': 29401, 'n_unique_coauthors': 11, 'middle_name': nan, 'rank_avg_cites': 40837, 'med_coauthors': 3.0, 'total_cites': 7, 'avg_cites': 1.4, 'rank_total_pubs': 3077, 'hindex': 2, 'id': 'GousiosG', 'first_name': 'Georgios'}>, <Node id=175641 labels=frozenset({'Author'}) properties={'total_pubs': 4, 'gender': nan, 'last_name': 'vanDeursen', 'rank_hindex': 9528, 'rank_total_cites': 22137, 'n_unique_coauthors': 11, 'middle_name': nan, 'rank_avg_cites': 33858, 'med_coauthors': 4.0, 'total_cites': 14, 'avg_cites': 3.5, 'rank_total_pubs': 4454, 'hindex': 2, 'id': 'vanDeursenA', 'first_name': 'Arie'}>, <Node id=172517 labels=frozenset({'Author'}) properties={'total_pubs': 3, 'gender': 'male', 'rank_hindex': 9528, 'last_name': 'Nagappan', 'rank_total_cites': 18013, 'n_unique_coauthors': 12, 'middle_name': nan, 'rank_avg_cites': 25985, 'med_coauthors': 5.0, 'total_cites': 21, 'avg_cites': 7.0, 'rank_total_pubs': 7070, 'hindex': 2, 'id': 'NagappanN', 'first_name': 'Nachiappan'}>, <Node id=170885 labels=frozenset({'Author'}) properties={'total_pubs': 3, 'gender': 'F', 'rank_hindex': 9528, 'last_name': 'Maddila', 'rank_total_cites': 18013, 'n_unique_coauthors': 12, 'middle_name': nan, 'rank_avg_cites': 25985, 'med_coauthors': 5.0, 'total_cites': 21, 'avg_cites': 7.0, 'rank_total_pubs': 7070, 'hindex': 2, 'id': 'MaddilaC', 'first_name': 'Chandra'}>] COUNT(article)=5 COUNT(coauthor)=5>,
 <Record article=<Node id=155739 labels=frozenset({'Article'}) properties={'year': 2022, 'n_cites': 2.0, 'n_authors': 6, 'journal_issn': '1049-331X', 'id': '2011.12468', 'title': 'Nudge: Accelerating Overdue Pull Requests Towards Completion', 'doi': '10.1145/3544791'}> collect(coauthor)=[<Node id=195283 labels=frozenset({'Author'}) properties={'total_pubs': 2, 'gender': 'M', 'rank_hindex': 29311, 'last_name': 'Bansal', 'rank_total_cites': 37202, 'n_unique_coauthors': 7, 'middle_name': nan, 'rank_avg_cites': 40655, 'med_coauthors': 3.5, 'total_cites': 3, 'avg_cites': 1.5, 'rank_total_pubs': 12987, 'hindex': 1, 'id': 'BansalC', 'first_name': 'Chetan'}>, <Node id=175641 labels=frozenset({'Author'}) properties={'total_pubs': 4, 'gender': nan, 'last_name': 'vanDeursen', 'rank_hindex': 9528, 'rank_total_cites': 22137, 'n_unique_coauthors': 11, 'middle_name': nan, 'rank_avg_cites': 33858, 'med_coauthors': 4.0, 'total_cites': 14, 'avg_cites': 3.5, 'rank_total_pubs': 4454, 'hindex': 2, 'id': 'vanDeursenA', 'first_name': 'Arie'}>, <Node id=172517 labels=frozenset({'Author'}) properties={'total_pubs': 3, 'gender': 'male', 'rank_hindex': 9528, 'last_name': 'Nagappan', 'rank_total_cites': 18013, 'n_unique_coauthors': 12, 'middle_name': nan, 'rank_avg_cites': 25985, 'med_coauthors': 5.0, 'total_cites': 21, 'avg_cites': 7.0, 'rank_total_pubs': 7070, 'hindex': 2, 'id': 'NagappanN', 'first_name': 'Nachiappan'}>, <Node id=188239 labels=frozenset({'Author'}) properties={'total_pubs': 1, 'gender': nan, 'last_name': 'Upadrasta', 'rank_hindex': 29311, 'rank_total_cites': 39976, 'n_unique_coauthors': 5, 'middle_name': 'Surya', 'rank_avg_cites': 38851, 'med_coauthors': 5.0, 'total_cites': 2, 'avg_cites': 2.0, 'rank_total_pubs': 34037, 'hindex': 1, 'id': 'UpadrastaS', 'first_name': 'Sai'}>, <Node id=170885 labels=frozenset({'Author'}) properties={'total_pubs': 3, 'gender': 'F', 'rank_hindex': 9528, 'last_name': 'Maddila', 'rank_total_cites': 18013, 'n_unique_coauthors': 12, 'middle_name': nan, 'rank_avg_cites': 25985, 'med_coauthors': 5.0, 'total_cites': 21, 'avg_cites': 7.0, 'rank_total_pubs': 7070, 'hindex': 2, 'id': 'MaddilaC', 'first_name': 'Chandra'}>, <Node id=172646 labels=frozenset({'Author'}) properties={'total_pubs': 5, 'gender': 'M', 'rank_hindex': 9528, 'last_name': 'Gousios', 'rank_total_cites': 29401, 'n_unique_coauthors': 11, 'middle_name': nan, 'rank_avg_cites': 40837, 'med_coauthors': 3.0, 'total_cites': 7, 'avg_cites': 1.4, 'rank_total_pubs': 3077, 'hindex': 2, 'id': 'GousiosG', 'first_name': 'Georgios'}>] COUNT(article)=6 COUNT(coauthor)=6>]

In [ ]:
# Ego-network WITH the author
MATCH (author:Author)-[:AUTHORED]->(article:Article) 
WHERE author.id = "WangY" 
WITH author, COUNT(article) AS number_of_articles, collect(article) AS articles
ORDER BY number_of_articles DESC 
UNWIND articles AS article
MATCH (coauthor:Author)-[:AUTHORED]->(article)
RETURN article, collect(coauthor), COUNT(article), COUNT(coauthor)

In [ ]:
# Ego-network WITHOUT the author
# https://stackoverflow.com/questions/28816222/finding-a-list-of-neo4j-nodes-which-have-the-most-relationships-back-to-another
MATCH (author:Author)-[:AUTHORED]->(article:Article) 
WHERE author.id = "WangY" 
WITH author, COUNT(article) AS number_of_articles, collect(article) AS articles
ORDER BY number_of_articles DESC 
UNWIND articles AS article
MATCH (coauthor:Author)-[:AUTHORED]->(article)
WHERE coauthor <> author
RETURN article, collect(coauthor)