# Data Engineering Project 
## ETL

**Authors**: 
- Dmitri Rozgonjuk
- Eerik Sven Puudist
- Lisanne Siniväli
- Cheng-Han Chung


The aim of this script is to clean the main raw data frame and write a new, clean data frame for further use. In this notebook, the comparisons of different read- and write-methods are demonstrated.

First, we install and import the necessary libraries from one cell (to avoid having libraries in some individual cells below). The packages and their versions to be installed will later be added to the `requirements.txt` file.

We also use this section to set global environment parameters.

In [ ]:
!conda install psycopg2 -y
!pip install -r requirements.txt

In [1]:
## NB!! run the installs from terminal
########### Library Installations ##############

################### Imports ####################
### Data wrangling
import pandas as pd # working with dataframes
import numpy as np # vector operationsõ


### Specific-purpose libraries
# NB! Most configure with an API key
#from pybliometrics.scopus import AbstractRetrieval
from habanero import Crossref # CrossRef API
from genderize import Genderize # Gender API

### Misc
from math import floor
import time
import requests
import warnings # suppress warnings
import os # accessing directories
from tqdm import tqdm # track loop runtime
from unidecode import unidecode # international encoding fo names

### Custom Scripts (ETL, augmentations, SQL)
from scripts.raw_to_tables import *
from scripts.augmentations import *
from scripts.final_tables import *
from scripts.sql_queries import *
from scripts.neo4j_queries import *

### Database drivers
import psycopg2
from neo4j import GraphDatabase

########## SETTING ENV PARAMETERS ################
warnings.filterwarnings('ignore') # suppress warnings

## Pipeline start

In [2]:
# First check if the tables are already in the system
## If tables exist, import from .csv

if os.path.exists('./tables') and len(os.listdir('./tables')) == 8: # directory + 7 tables
    print('Tables exist...')
    author = pd.read_csv('./tables/author.csv')
    authorshiphip = pd.read_csv('./tables/authorship.csv')
    article = pd.read_csv('./tables/article.csv')
    article_category = pd.read_csv('./tables/article_category.csv')
    category = pd.read_csv('./tables/category.csv')
    journal = pd.read_csv('./tables/journal.csv')
    print('Tables are in the working directory!')
    
## If tables do not exist, pull from kaggle (or local machine), proprocess to tables
else: 
    print('Preparing tables...')
    print()
    ingest_and_prepare()
    print('Tables are in the working directory!')

Tables exist...
Tables are in the working directory!

# 2. Loading Clean Data or Data Augmentation

In [3]:
article = article_ready()
journal = journal_ready()

# Remove not found journals from articles
article = article[article['journal_issn'].isin(journal['journal_issn'])].reset_index(drop = True)
# Update 'article.csv' in 'data_ready' directory
article.to_csv('./data_ready/article.csv', index = False)

authorship = authorship_ready(article)
author = author_ready(article, authorship)
article_category = article_category_ready(article)
category = category_ready(article_category)

Clean table 'article' exists and loaded to pwd
Clean table 'journal' exists and loaded to pwd.
Clean table 'authorship' exists and loaded to pwd.
Clean table 'author' exists and loaded to pwd.
Clean table 'article_category' exists and loaded to pwd.
Clean table 'category' exists and loaded to pwd.

### Author update and augments
In order to query 'gender' of a given author, we first extract all valid (length > 3) first names. We acknowledge that there may be first names that are smaller than four characters in length, but given that query amount is limited, we are going with a more robust way to extract as many names as possible.

### Journal
In order to get the journal information, we need the journal ISSN list from the `article` table. Although journal Impact Factor are more common metrics, they are trademarked and, hence, retrieving them is not open-source. The alternative is to use SNIP - source-normalized impact per publication. This is the average number of citations per publication, corrected for differences in citation practice between research domains. Fortunately, the list of journals and their SNIP is available from the CWTS website (https://www.journalindicators.com/).

# 3. From Pandas to PostgreSQL

In [4]:
# Import the data from Pandas
article = pd.read_csv('data_ready/article.csv')
author = pd.read_csv('data_ready/author.csv')
authorship = pd.read_csv('data_ready/authorship.csv')
category = pd.read_csv('data_ready/category.csv')
article_category = pd.read_csv('data_ready/article_category.csv')
journal = pd.read_csv('data_ready/journal.csv')

tables = [article, author, authorship, category, article_category, journal]

# Name of tables (for later print)
article.name = 'article'
author.name = 'author'
authorship.name = 'authorship'
category.name = 'category'
article_category.name = 'article_category'
journal.name = 'journal'

In [5]:
# Insert into tables (helper function)
def insert_to_tables(table, query):
    ''' Helper function for inserting values to Postresql tables
    Args:
        table (pd.DataFrame): pandas table
        query (SQL query): correspondive SQL query for 'table' for data insertion in DB
    '''
    
    print(f'Inserting table -- {table.name} -- ...')
    
    try:
        for i, row in table.iterrows():
            cur.execute(query, list(row))
        print(f'Table -- {table.name} -- successfully inserted!')
    except:
        print(f'Error with table -- {table.name} --')
    print()

In [5]:
    # Connect to the database
conn = psycopg2.connect(host="postgres", user="postgres", password="password", database="postgres")
conn.set_session(autocommit=True)
cur = conn.cursor()

    # create sparkify database with UTF8 encoding
cur.execute("DROP DATABASE IF EXISTS research_db")
cur.execute("CREATE DATABASE research_db WITH ENCODING 'utf8' TEMPLATE template0")

In [36]:
# Drop Tables 
for query in drop_tables:
    cur.execute(query)
    conn.commit()
    
    # Create Tables
for query in create_tables:
    cur.execute(query)
    conn.commit()

In [37]:
# Insert into tables
for i in tqdm(range(len(tables))):
    insert_to_tables(tables[i], insert_tables[i])

  0%|          | 0/6 [00:00<?, ?it/s]

Inserting table -- article -- ...

 17%|█▋        | 1/6 [00:11<00:57, 11.55s/it]

Table -- article -- successfully inserted!

Inserting table -- author -- ...

 33%|███▎      | 2/6 [00:27<00:56, 14.03s/it]

Table -- author -- successfully inserted!

Inserting table -- authorship -- ...

 50%|█████     | 3/6 [00:52<00:57, 19.31s/it]

Table -- authorship -- successfully inserted!

Inserting table -- category -- ...
Table -- category -- successfully inserted!

Inserting table -- article_category -- ...

 83%|████████▎ | 5/6 [01:09<00:13, 13.03s/it]

Table -- article_category -- successfully inserted!

Inserting table -- journal -- ...

100%|██████████| 6/6 [01:09<00:00, 11.64s/it]

Table -- journal -- successfully inserted!

# Database Connection

In [6]:
%load_ext sql
%sql postgresql://postgres:password@postgres/postgres

## Load the possiblity to run magic function

# Test Queries

In [7]:
%sql SELECT * FROM authorship LIMIT 10;

 * postgresql://postgres:***@postgres/postgres
10 rows affected.

[('1001.0001', 'KrotovD'),
 ('1001.0001', 'HedenO'),
 ('1001.0041', 'IndykP'),
 ('1001.0041', 'SzarekS'),
 ('1001.0361', 'GargouriY'),
 ('1001.0361', 'HajjemC'),
 ('1001.0361', 'LariviereV'),
 ('1001.0361', 'GingrasY'),
 ('1001.0361', 'CarrL'),
 ('1001.0361', 'BrodyT')]

In [42]:
%sql SELECT * FROM article_category LIMIT 10;

 * postgresql://postgres:***@postgres/postgres
10 rows affected.

[('1001.0001', 'cs.IT'),
 ('1001.0001', 'math.IT'),
 ('1001.0041', 'math.MG'),
 ('1001.0041', 'cs.CC'),
 ('1001.0041', 'math.FA'),
 ('1001.0361', 'cs.CY'),
 ('1001.0361', 'cs.DL'),
 ('1001.0639', 'cs.DS'),
 ('1001.0641', 'cs.LO'),
 ('1001.0641', 'cs.GT')]

In [ ]:
%sql SELECT * FROM article LIMIT 10;

In [ ]:
%sql SELECT * FROM category LIMIT 10;

In [ ]:
%sql SELECT * FROM journal LIMIT 10;

In [52]:
author = 'WangX'
# Get the articles
papers = authorship[authorship['author_id'] == author]['article_id'].values

# Get all authors
co_authors = authorship[authorship['article_id'].isin(papers)]

# N pubs with unique co-authors
npubs_coauthors = co_authors[co_authors['author_id'] != author].groupby(['author_id']).size()

# n Cites with unique co-authors

In [54]:
npubs_coauthors

author_id
AbrahamssonP    12
AggarwalV        7
AshraphijuoM     5
BaiX             1
BajwaS           1
                ..
ZieglerV         1
ZouL             1
ZouY             3
ZuoZ             1
deVisserC        1
Length: 349, dtype: int64

In [23]:

article[article['author_id'] == author]

KeyError: 'author_id'

# 4. Preparing Graph DB Data

- about network analysis with these data in Neo4J: https://medium.com/swlh/network-analysis-of-arxiv-dataset-to-create-a-search-and-recommendation-engine-of-articles-cd18b36a185e

- link prediction: https://towardsdatascience.com/link-prediction-with-neo4j-part-2-predicting-co-authors-using-scikit-learn-78b42356b44c

The Graph Database Schema is pictured below:
<img src="images/graph_db_schema.png"/>

Tutorial: https://www.youtube.com/watch?v=PfySvVqHAWo&t=33s

In [9]:
conn = Neo4jConnection(uri='bolt://neo:7687', user='', pwd='')

In [10]:
result = conn.query('MATCH (n:Article) RETURN COUNT(n) AS ct')
print(result[0]['ct'])

40255

In [43]:
# Delete all nodes
# conn.query('MATCH (a) DELETE a')

[]

### Add constraints to ID variables

In [11]:
# Add ID uniqueness constraint to optimize queries
conn.query('CREATE CONSTRAINT ON(n:Category) ASSERT n.id IS UNIQUE')
conn.query('CREATE CONSTRAINT ON(j:Journal) ASSERT j.id IS UNIQUE')
conn.query('CREATE CONSTRAINT ON(au:Author) ASSERT au.id IS UNIQUE')
conn.query('CREATE CONSTRAINT ON(ar:Article) ASSERT ar.id IS UNIQUE')

[]

### Ingest the data

In [ ]:
add_category(conn, category)
add_journal(conn, journal)
add_author(conn, author)
add_article(conn, article)
add_article_category(conn, article_category)
add_authorship(conn, authorship)

{'total': 73959, 'batches': 74, 'time': 27.207443952560425}

{'total': 116083, 'batches': 117, 'time': 28.746549606323242}

In [18]:
result = conn.query('MATCH (n:Author) RETURN COUNT(n) AS ct')
print(result[0]['ct'])

56202

# 5. Example Queries

## 5.1. Data Warehouse

## 5.2. Graph Database

In [ ]:
# Ego-network WITH the author
MATCH (author:Author)-[:AUTHORED]->(article:Article) 
WHERE author.id = "GousiosG" # add specific name
WITH author, COUNT(article) AS number_of_articles, collect(article) AS articles
ORDER BY number_of_articles DESC 
LIMIT 1
UNWIND articles AS article
MATCH (coauthor:Author)-[:AUTHORED]->(article)
RETURN article, collect(coauthor), COUNT(article)

In [ ]:
# Ego-network WITHOUT the author
# https://stackoverflow.com/questions/28816222/finding-a-list-of-neo4j-nodes-which-have-the-most-relationships-back-to-another
MATCH (author:Author)-[:AUTHORED]->(article:Article) 
WITH author, COUNT(article) AS number_of_articles, collect(article) AS articles
ORDER BY number_of_articles DESC 
LIMIT 1
UNWIND articles AS article
MATCH (coauthor:Author)-[:AUTHORED]->(article)
WHERE coauthor <> author
RETURN article, collect(coauthor)

## Total Pipeline Runtime

In [ ]:
end_pipe = time.time()

print(f'Time of pipeline start: {time.ctime(end_pipe)}')
print(f'Total pipeline runtime: {(end_pipe - start_pipe)/60} min.')